.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  background-color: #ff9900;
  color: #232f3e;

  z-index: 5;
  .sectionOne,
  .sectionTwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 18%;
  }
  .sectionTwo {
    width: 7%;
    margin-right: 20px;
  }

  .navLinks {
    cursor: pointer;
    text-decoration: none;
    color: #232f3e;
  }
  .navItem {
    font-size: 18px;
    cursor: pointer;
  }
}
